*{
  background-size: 100%;
margin: 0;
padding: 10;
font-family: "Quicksand", sans-serif;
text-decoration:none;
box-sizing: border-box;
overflow: -moz-scrollbars-none;
-webkit-scrollbar { width: 0 !important };
overflow-x: hidden;
white-space: normal;
min-width:10px;
}
.header{
  width: 100%;
height: 100%;
background: #ADCBFF;
padding-left: 11%;
padding-right: 8%;
position:relative;
background-image: url("UN_emblem_blue.svg.png");
background-size: 38%;
background-repeat: no-repeat;
background-position: 92% 100%;
min-width: 5px;
}
.top-nav{display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 0px 15px;
border-bottom: 1px solid #fff;
  overflow: hidden;
  min-width: 5px;

}
.top-nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
    overflow: hidden;
}

.top-nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
    overflow: hidden;


}
.top-nav button{
min-width: 4vw;
  cursor: pointer;
    overflow: hidden;
}
.side-nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background: linear-gradient(#ECE3F6,#AF7AFC,#9CE6FC, #AEAEB0,#E3EFF6,#ECE3F6 );
background-size: 100% 410%;
background-position: 0% 40%;
animation: backcolor 55s linear infinite reverse;
  overflow: hidden;
}

@keyframes backcolor {
  0% {background-position: 0 0%;
  }
  100%{background-position: 0 400%;
}
}
.side-nav .logo{
  width: 60px;
  cursor: pointer;
  overflow: hidden;

}
.side-nav a {
text-decoration:none;
color: #fff;
transform:rotate(-90deg) translateX(50%);
width: max-content;
  overflow: hidden;


}
.ketaba {color: "#fff";

}
.ketaba p{
font-size: 15px;
padding-left: 13%;


}

.ketaba h1{font-weight: 50px;
  min-width: 2vw;
font-size: 40px;
max-width: 600px;
line-height: 95px;
margin-left: 60px;
border-bottom: 1px solid #fff;
    width: auto;
text-size-adjust: auto;
align-items: center;
justify-content: center;}

.ketaba h2{font-weight: 50px;
font-size: 40px;
margin-left: 20px;
max-width: 600px;
line-height: 95px;
border-bottom: 1px solid #fff;
    width: auto;
text-size-adjust: auto;
align-items: center;
justify-content: center;}

label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
input[type="text"]{
  border: 2px #BA93FD;
  position: fixed;
 border-radius: 4px;
 background-color: $primary-color;
  margin-bottom: 50px;
  width: 47vw;
  height: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);

}

  input[type="password"]{
    border: 2px #BA93FD;
 border-radius: 4px;
 position: fixed;
 background-color: $primary-color;
    width: 47vw;
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
    margin-bottom: 25px;
    font-style: italic;
    min-width: 10px;


}
.username .content{
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  transition: max-height 0.5s, padding 0.5;
}

.username{  overflow: hidden;
  min-width: 10px;
}
.password{  overflow: hidden;
  min-width: 10px;

}
.about{
  width: 100%;
  padding:78px 0px;
  padding-left: 50px;
  color: #fff;

}
.about-text{
  width: 550px;
}
.main{
  font-style: italic;
  width:1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  font-style: italic;
  font-size: 60px;
  margin-bottom: 20px;
  display: flex;
}

.about-text p{
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
  margin-left: 20px;

}
.about-text h2{
  font-style: italic;
  font-size: 20%;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span{
  color: #AF7AFC;
  letter-spacing:1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background: #019edb;
    text-decoration: none;
  color: #FFFFFF;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 30px;
  padding:14px 30px;
  cursor: pointer;
  transition: .4s;
  max-width: 23vw;
  max-height: 9vw;
  min-width: 5vw;}
  a:link {
      text-decoration: none;
      color: #fff;
max-width: 30vw;
}
.zeft{
  color: #fff;
position: center;
margin-left: 40px;
}

button:hover{
  background: #ADCBFF;
  border: 2px soild #ADCBFF;
  cursor: pointer;
}
iframe {display: flex;
  align-items: center;
  width: 95%;
  padding:78px 0px;
  padding-left: 50px;
  border-bottom: 1px solid #fff;
min-width: 350px;
}
.pay{
    overflow: hidden;
  color: #fff;
  display: flex;
    align-items: center;
  font-weight: 40;
  font-size: 20px;
  width: 90%;
  padding:78px 0px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #fff;
      width: auto;
  text-size-adjust: auto;
  align-items: center;
  justify-content: center;}
}
.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
  margin-bottom: 50px;
}

.i i{
	transition: .3s;
}
.formm{
  min-width: 10px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: 30px;
  position: center;
background-size: cover;
background-repeat: no-repeat;
background-position: 92% 100%;
box-shadow: 0 .5rem 2rem rgba(0,0, 0,.1);
border-radius: .5rem;
font-size: 1.2rem;
color: #222;
text-decoration: none;
display: inline-block;
margin-bottom: 70px;
  width: 55vw;
}
.dele{
    min-width: 10px;
  box-shadow: 0 .5rem 2rem rgba(0,0, 0,.1);
   padding: 1.5rem;
  border-radius: .5rem;
  font-size: 15px;
  color: #222;
  position: center;
  margin-bottom: 50px;
  color: #FFFFFF;

}
.what{
  font-size: 17px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-style: italic;
  font-family: inherit;
    margin-left: 20px;

  }
button[type="button"]{padding:10px;
  margin-bottom: 50px;
margin-top: 30px;}
.nope {visibility: hidden;}
.nopee{visibility: hidden;}
.icon{
  margin-left: 50px;
}
.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}


.hi{
font-family: "Quicksand", sans-serif;
color: #fff;
font-size: 7px;
max-width: 19vw;
max-height: 7vw;
min-width: 1vw;
	position: center;
}
.title{
  font-size: 4vw;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-style: italic;
  font-family: inherit;
    margin-left: 20px;
}
#formmm{
  //For center align
  margin: 0 auto;
  // For grow & shrink as per screen size change values as per your requirements
  width: 80%;
  height: 50%;
}
.move{
  margin-top: 10px;
  margin-left:2px;
p }

  .h1{
    font-size: 8vw;
  }
.h2{position:center;}
